.vscode
biblioteca_Funcoes_auxiliares.o
biblioteca_modulo_clientes.o
biblioteca_modulo_inicio.o
biblioteca_modulo_servicos.o
biblioteca_modulo_admin.o
biblioteca_modulo_animais.o
biblioteca_modulo_atendimentos.o
petc.o
a.exe
a.out
animais.dat
clientes.dat
servicos.dar
atendimentos.dat
